{
    "cloudaccount": [
        {
            "cloudaccountID": ""
        }
    ],
    "netprofiles": [
        {
            "networkprofileID": ""
        },
        {
            "networkprofileID": ""
        }
    ],
    "projects": [
        {
            "projectID": ""
        }
    ],
    "regions": [
        {
            "regionID": ""
        },
        {
            "regionID": ""
        }
    ],
    "zones": [
        {
            "cloudzoneID": ""
        },
        {
            "cloudzoneID": ""
        }
    ]
}